body{
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: black;
    color: white;
}

input{
    margin-bottom: 10px;
}

button{
    margin-top: 10px;
    padding: 8px;
}